<% @dep = "/news?category=1" %>
<% @far = "/news?category=2" %>
<% @nac = "/news?category=3" %>
<% @int = "/news?category=4" %>
<% @pol = "/news?category=5" %>

<% @dep_img = "01dep.jpg" %>
<% @far_img = "02far.jpg" %>
<% @nac_img = "03nac.jpg" %>
<% @int_img = "04int.jpg" %>
<% @pol_img = "05pol.jpg" %>


<div class="card-group">
  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= link_to (image_tag @dep_img, class: "card-img-top"), @dep %> 
    <div class="card-body">
      <h5 class="card-title">Deportes</h5>
      <p class="card-text">Revisa las últimas noticias positivas del deporte en Chile y el mundo.</p>
    </div>
    <div class="container">
      <div class="ppp row justify-content-center">
        <div class=".col-8 row justify-content-center">
          <%= link_to "Ver Deportes", @dep, class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= link_to (image_tag @far_img, class: "card-img-top"), @far %> 
    <div class="card-body">
      <h5 class="card-title">Farándula</h5>
      <p class="card-text">Entérate de las copuchas de la farándula nacional e internacional.</p>
    </div>
        <div class="container">
      <div class="ppp row justify-content-center">
        <div class=".col-8 row justify-content-center">
          <%= link_to "Ver farándula", @far, class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= link_to (image_tag @nac_img, class: "card-img-top"), @nac %> 
    <div class="card-body">
      <h5 class="card-title">Nacional</h5>
      <p class="card-text">Revisa las noticias felices del ámnito nacional</p>
    </div>
        <div class="container">
      <div class="ppp row justify-content-center">
        <div class=".col-8 row justify-content-center">
        <%= link_to "Ver Nacional", @nac, class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= link_to (image_tag @int_img, class: "card-img-top"), @int %>
    <div class="card-body">
      <h5 class="card-title">Internacional</h5>
      <p class="card-text">Mantenten al día con las noticias positivas de mundo</p>
    </div>
        <div class="container">
      <div class="ppp row justify-content-center">
        <div class=".col-8 row justify-content-center">
          <%= link_to "Ver Internacional", @int, class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= link_to (image_tag @pol_img, class: "card-img-top"), @pol %>
    <div class="card-body">
      <h5 class="card-title">Política</h5>
      <p class="card-text">Revisa las noticias positivas de la politica nacional</p>
    </div>
      <div class="container">
      <div class="ppp row justify-content-center">
        <div class=".col-8 row justify-content-center">
          <%= link_to "Ver Política", @pol, class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    </div>
  </div>
</div>