<div class="margen">
  <p style="color: green"><%= notice %></p>

  <h1 class="display-4" >Noticias felices.com </h1>
  <p class="pa01" >Noticias Felices.com es una página que tiene como objetivo sacarte del mal hábito de consumir noticias negaticas o doomscrolling</p>
  <p class="pa02" > Revisa las noticias positivas de Chile y el mundo.
  También puedes ayudar a contribuir con noticias positivas. </p>

<div class="container">
  <div class="row justify-content-center">
    <%= form_with url: news_index_path, class: "col-6", method: :get do |f| %>
    <%= f.label :search, "Buscar Noticia: " %>
    <%= f.text_field :search %>
    <%= f.submit "Buscar" %>
    <% end %>
  </div>
</div>

<br>

  <%= render "home/cards" %>
  <div class="row justify-content-center boton01">
      <%= link_to "NUEVA NOTICIA", new_news_path, class: "btn btn-warning col-3" %>
  </div>
      <div class="row justify-content-center boton01">
      <%= link_to "VER TODAS", news_index_path, class: "btn btn-success col-3" %>
  </div>

</div>