<div id="<%= dom_id news %>">
  <p>
    <strong>Encabezado:</strong>
    <%= news.encabezado %>
  </p>

  <p>
    <strong>Cuerpo:</strong>
    <%= news.cuerpo %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= news.link %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= news.tipo %>
  </p>

</div>
