<p style="color: green"><%= notice %></p>

<div  class="container" >
  <h1>Noticias</h1>

<div class="container">
  <div class="row justify-content-center">
    <%= form_with url: news_index_path, class: "col-6", method: :get do |f| %>
    <%= f.label :search, "Buscar Noticia: " %>
    <%= f.text_field :search %>
    <%= f.submit "Buscar" %>
    <% end %>
  </div>
</div>

<br>

  <div id="news">
    <div class="row">
      <% @news.each do |news| %>

        <div class="col">
            <%= render news %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center boton01">
      <%= link_to "NUEVA NOTICIA", new_news_path, class: "btn btn-warning col-3" %>
  </div>

    <div class="row justify-content-center boton01">
      <%= link_to "Volver a inicio", homes_path, class: "btn btn-info col-3" %>
  </div>
</div>