<p style="color: green"><%= notice %></p>

<%= render @news %>

<div>
  <%= link_to "Editar", edit_news_path(@news) %> |
  <%= link_to "Volver al inicio", home_index_path %>
  <%= button_to "Eliminar esta noticia", @news, method: :delete %>
</div>
